<!DOCTYPE html>
<html>
    <head>
    	<title>Madlibs Input</title>
    	<link rel="stylesheet" href="css\defaultstyle.css">
    </head>
    <body>
        <h3>When walking along a beach a <strong class="action {{enlarge}}">{{adj_one}}</strong> dog stopped to sniff a <strong class="action {{enlarge}}">{{adj_two}}</strong> stick.</h3>
        <h3>But upon closer inspection the dog realized that the stick was actually a <strong class="action {{enlarge}}">{{adj_three}}</strong> <strong class="action {{enlarge}}">{{noun_one}}</strong>.</h3>
        <h3>The dog got bored and decided to check out a big <strong class="action {{enlarge}}">{{noun_two}}</strong> near by.</h3>
        <img src='img/{{image}}' alt="optional image">
    </body>
</html>