<!DOCTYPE html>
<html>
<head>
	<title>Number Fact</title>
	{{!--<link rel="stylesheet" href="css/basic.css">--}}
	<link rel="stylesheet" href="..\css\defaultstyle.css">
</head>
    <body>
        <h1>Your number: {{number}}</h1>
        <h1>is even: {{even}}</h1>
        <h1>is odd: {{odd}}</h1>
        <h1>2nd power: {{power_two}}</h1>
        <h1>3rd power: {{power_three}}</h1>
        <h1>4th power: {{power_four}}</h1>
    </body>
</html>